@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39; /* Adjusted for a darker shade similar to the design */
  --background-start-rgb: 214, 219, 220; /* As provided */
  --background-end-rgb: 255, 255, 255; /* As provided */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* As provided */
    --background-start-rgb: 0, 0, 0; /* As provided */
    --background-end-rgb: 0, 0, 0; /* As provided */
  }
}

@layer base {
  h1, h2, p {
    color: rgb(45, 55, 72); /* Adjusting the color to match the design */
  }
  body p, body li {
  color: #7c7c7c;
  font-weight: 500; /* Use a standard font-weight */
}
}

body {
  background-color: #ffffff;; /* A lighter grey to match the design */
  font-family: 'Inter', sans-serif; /* Specifying the font family */
}


html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

h1, h2, p, button {
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h2, h3 {
  font-weight: 600;
  color: black;
}

html {
  scroll-behavior: smooth;
}

p, li {
  /* Set the font-size smaller by 1 or 2 points, e.g., from 16px to 14px */
  font-size: 0.9375rem; /* This is equivalent to 14px */
}